
.link{
    text-decoration: none;
  position: relative;
}

.popUpContainer{
    width: 100vw;
    height: calc(100svh - 57px);
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp{
    margin: 1rem;
  z-index: 4;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 80vw;
  max-width: 400px;
  height: 40vh;
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.popUpContent{
  position: relative;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    h1 {
      text-align: center;
      font-weight: 400;
      color: black;
    }
    p {
      padding: 10px;
      color: #787777;
    }
    font-size: medium;  
}

.closeButton{
    background: rgba(120, 119, 119, 0);
    border: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.popUpImage{
    border-radius: 40px 40px 0px 0px;
  object-fit: cover;
  object-position: bottom;
  height: auto;
  width: 80vw;
  max-width: 400px;
}

.popUpImageSection{
    position: relative;
    width: auto;
    height: 20vh;
    overflow: hidden;
}

.titleContainer{
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center; 
   position: absolute;
  top: -20%;
  left: 0;
}

.title{
    color: black;
    background-color: white;
  padding: 7px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

