<div class="popUpContainer" @fadeIn>
    <div class="popUp">
      <a class="link" routerLink="{{popUpSpot.slug}}">
        <section class="popUpImageSection">
          <img class="popUpImage"
            src="{{popUpSpot.image}}"
            priority
          />
          
        </section>
          
        <div class="popUpContent">
          <div class="titleContainer">
            <h1 class="title">{{popUpSpot.name}}</h1>
          </div>
          
          <p>{{popUpSpot.description?.slice(0, 110)}}...</p>
        </div>
      </a>

      <button class="closeButton" (click)="closePopUp()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
