
<section class="headerContainer" *ngIf="showInputForm === true">
    <form class="form" (ngSubmit)="searchCity()">
      
      <mat-icon (click)="showInputForm = !showInputForm" class="icon">arrow_back</mat-icon>
      
      <input class="inputText"
        autoFocus
        type="text"
        name="place" 
        id="place" 
        [(ngModel)]="place"
        placeholder="Gib einen Ort ein"
        priority
      >
      <button class="button" type="submit">
        <mat-icon class="icon">search</mat-icon>
      </button>
    </form>
  </section>


  <section class="headerContainer" *ngIf="showInputForm === false">
    <div (click)="getLocation()" class="iconContainer">
      <mat-icon class="icon" >location_searching</mat-icon>
      <p>Um mich herum</p>
    </div>
    <div (click)="showInputForm = !showInputForm" class="iconContainer">
      <mat-icon class="icon" >search</mat-icon>
      <p>Um einen Ort</p>
    </div>
    <div class="iconContainer">
      <mat-icon class="icon">menu</mat-icon> 
      <p>Menu</p>
    </div>
  </section>

