<div *ngIf="spotLoaded === true">
    <app-spot-info-header (emitInfoOrSocial)="changeInfoOrSocial($event)"></app-spot-info-header>

    <div *ngIf="mobileOrDesktop === true && infoOrSocial === true" class="infoContainer">
        <app-spot-info-mobile [currentSpot]="currentSpot"></app-spot-info-mobile>
    </div>
    
    <div *ngIf="mobileOrDesktop === false && infoOrSocial === true" class="infoContainer">
        <app-spot-info-desktop [currentSpot]="currentSpot"></app-spot-info-desktop>
    </div>
    <div *ngIf="infoOrSocial === false" class="socialContainer" >
        <section class="commentsList">
            <app-spot-social-comment *ngFor="let comment of comments" [comment]="comment"></app-spot-social-comment>
          </section>
        <app-spot-social-form [currentSpot]="currentSpot"></app-spot-social-form>
    </div>
</div>