.infoContainer{
    margin-top: 75px;
}

.socialContainer{
    margin-top: 75px;
}

.commentsList{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100vw;
    height: calc(100svh - 160px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
